aiohttp==3.7.3
appdirs==1.4.4
async-timeout==3.0.1
asyncio==3.4.3
attrs==20.3.0
CacheControl==0.12.6
cachy==0.3.0
certifi==2020.12.5
chardet @ file:///C:/Users/drewt/AppData/Local/pypoetry/Cache/artifacts/8f/6f/1c/8085d730ad63c462222af30d0d01c4bd0caca5287e40b63c1fe8f529b7/chardet-3.0.4-py2.py3-none-any.whl
cleo==0.8.1
click==7.1.2
clikit==0.6.2
crashtest==0.3.1
cycler==0.10.0
DateTime==4.3
discord @ file:///C:/Users/drewt/AppData/Local/pypoetry/Cache/artifacts/ba/c3/61/2d5cc378f39cf5ceccfa4c76fa5480afbb507598535f8864acd2289c95/discord-1.0.1-py3-none-any.whl
discord.py==1.6.0
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
html5lib==1.1
idna==3.1
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.0
keyring==21.8.0
kiwisolver==1.3.1
licensename==0.4.2
lockfile==0.12.2
MarkupSafe==1.1.1
matplotlib==3.3.3
msgpack==1.0.2
multidict==5.1.0
numpy @ file:///C:/Users/drewt/AppData/Local/pypoetry/Cache/artifacts/d9/ad/27/89ff32b12d911f31aa72ba749f8db6059d0c51650302f752d24523ac68/numpy-1.19.5-cp39-cp39-win_amd64.whl
packaging==20.8
pandas==1.2.0
pastel==0.2.1
pexpect==4.8.0
Pillow==8.1.0
pkginfo==1.6.1
poetrify==0.4.1
poetry==1.1.4
poetry-core==1.0.0
ptyprocess==0.7.0
pylev==1.3.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.5
pywin32-ctypes==0.2.0
requests==2.25.1
requests-toolbelt==0.9.1
scikit-learn==0.24.0
scipy==1.6.0
shellingham==1.3.2
six==1.15.0
threadpoolctl==2.1.0
tomlkit==0.7.0
typing-extensions==3.7.4.3
Unidecode==1.1.2
urllib3==1.26.2
virtualenv==20.3.1
webencodings==0.5.1
Werkzeug==1.0.1
yarl==1.6.3
zope.interface==5.2.0

discord~=1.0.1
numpy~=1.19.5